Repository SynapseSL/Synapse, pull requests merged in 2020-08, with the labels that each got.

#13 Version 1.1.1
  Synapse/Api/Extensions.cs
  Synapse/Api/Map.cs
  Synapse/Api/Player.cs
  Synapse/Api/Plugin/Plugin.cs
  Synapse/Api/Server.cs
  Synapse/Config/ConfigManager.cs
  Synapse/Events/EventHandlers.cs
  Synapse/Events/Patches/EventPatches/MapPatches/DoorInteractPatch.cs
  Synapse/Events/Patches/EventPatches/MapPatches/GeneratorPatches.cs
  Synapse/Events/Patches/EventPatches/MapPatches/TeslaTriggerEvent.cs
  Synapse/Events/Patches/EventPatches/MapPatches/WarheadDetonationPatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/ComponentsPatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/DropItemPatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/PickUpItemPatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/PlayerBanPatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/PlayerCuffPatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/PlayerDamagePatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/PlayerEscapePatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/PlayerJoinPatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/PlayerLeavePatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/PlayerReloadPatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/PlayerSetClassPatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/SpeakPatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/SyncDataPatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/TagPatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/UseItemPatch.cs
  Synapse/Events/Patches/EventPatches/RoundPatches/CheckRoundEndPatch.cs
  Synapse/Events/Patches/EventPatches/RoundPatches/RoundEndPatch.cs
  Synapse/Events/Patches/EventPatches/RoundPatches/RoundRestartPatch.cs
  Synapse/Events/Patches/EventPatches/RoundPatches/RoundStartPatch.cs
  Synapse/Events/Patches/EventPatches/RoundPatches/TeamRespawnPatch.cs
  Synapse/Events/Patches/EventPatches/RoundPatches/WaitingForPlayersPatch.cs
  Synapse/Events/Patches/EventPatches/ScpPatches/FemurEnterPatch.cs
  Synapse/Events/Patches/EventPatches/ScpPatches/PocketDimensionEnterPatch.cs
  Synapse/Events/Patches/EventPatches/ScpPatches/Scp049RecallPatch.cs
  Synapse/Events/Patches/EventPatches/ScpPatches/Scp079GainLvlPatch.cs
  Synapse/Events/Patches/EventPatches/ScpPatches/Scp106ContainmentPatch.cs
  Synapse/Events/Patches/EventPatches/ServerPatches/ConsoleCommandPatch.cs
  Synapse/Events/Patches/EventPatches/ServerPatches/PreAuthenticationPatch.cs
  Synapse/Events/Patches/EventPatches/ServerPatches/RemoteAdminPatch.cs
  Synapse/Events/Patches/RoundEndPatch.cs
  Synapse/Events/Patches/SynapsePatches/CommandsPatch.cs
  Synapse/Events/Patches/SynapsePatches/ServerNamePatch.cs
  Synapse/Properties/AssemblyInfo.cs
  Synapse/Synapse.cs
  Synapse/Synapse.csproj
  SynapseModLoader/ModLoader.cs
  SynapseModLoaderPatcher/Program.cs
Labels: Events, GamePatch, Patches, Synapse, SynapseModLoaderPatcher

#14 Version 1.1.2
  Synapse/Api/Decontamination.cs
  Synapse/Api/Extensions.cs
  Synapse/Api/Jail.cs
  Synapse/Api/Map.cs
  Synapse/Api/Player.cs
  Synapse/Api/Plugin/Plugin.cs
  Synapse/Api/Plugin/Translation.cs
  Synapse/Api/Round.cs
  Synapse/Api/Server.cs
  Synapse/Api/Warhead.cs
  Synapse/Config/SynapseConfigs.cs
  Synapse/Events/EventHandlers.cs
  Synapse/Events/Patches/EventPatches/MapPatches/DoorInteractPatch.cs
  Synapse/Events/Patches/EventPatches/MapPatches/GeneratorPatches.cs
  Synapse/Events/Patches/EventPatches/MapPatches/TeslaTriggerEvent.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/DropItemPatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/PickUpItemPatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/PlayerEscapePatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/PlayerReloadPatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/SpeakPatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/TagPatch.cs
  Synapse/Events/Patches/EventPatches/RoundPatches/TeamRespawnPatch.cs
  Synapse/Events/Patches/EventPatches/ScpPatches/PocketDimensionEnterPatch.cs
  Synapse/Events/Patches/SynapsePatches/CommandsPatch.cs
  Synapse/Events/Patches/SynapsePatches/ServerNamePatch.cs
  Synapse/Events/ServerEvents.cs
  Synapse/Properties/AssemblyInfo.cs
  Synapse/Synapse.cs
  Synapse/Synapse.csproj
  SynapseModLoader/ModLoader.cs
  SynapseModLoaderPatcher/Program.cs
Labels: Patches, Synapse, SynapseModLoaderPatcher

#15 PlayerHealEvent
  LICENSE
  Synapse/Events/Classes/PlayerHealEvent.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/PlayerHealPatch.cs
  Synapse/Events/PlayerEvents.cs
Labels: Events, Patches, Synapse

#18 v1.2.1
  Synapse/Api/Player.cs
  Synapse/Events/Classes/PlayerThrowGrenadeEvent.cs
  Synapse/Events/Patches/EventPatches/MapPatches/DoorInteractPatch.cs
  Synapse/Events/Patches/EventPatches/PlayerPatches/PlayerThrowGrenadePatch.cs
  Synapse/Events/PlayerEvents.cs
  Synapse/Properties/AssemblyInfo.cs
  Synapse/Synapse.cs
  Synapse/Synapse.csproj
Labels: Events, GamePatch, Patches, Synapse
